/* Empty. Add your own CSS if you like */
.item-md-label .input-label {
  letter-spacing: .0rem !important;
  padding: 0 10px;
  margin-right: 30px;
}

.right-text{
  text-align: right !important;
  direction: rtl !important;
}

.error {
  font-family: 'Roboto, sans-serif', Roboto, sans-serif;
  color: #B71C1C;
  font-weight: 700;
  text-align: center;
  margin: auto
}

.cardError {
  background-color: #EF9A9A
}
