/* Empty. Add your own CSS if you like */
.item-md-label .input-label {
  letter-spacing: .0rem !important;
  padding: 0 10px;
  margin-right: 30px;
}

.right-text{
  text-align: right !important;
  direction: rtl !important;
}
